.bg-cont-abt{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('https://res.cloudinary.com/dkvptcm7q/image/upload/v1733489570/pexels-karolina-grabowska-4041287_rmixqy.jpg');
    background-size: cover;
    margin-top: 50px;
}
.abt-p{
    color: rgb(199, 118, 118);
}
.bg-cont{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.cont-ab{
    display: flex;
    height: 100vh;
    width: 80%;
    align-items: center;
    flex-direction: column;
}
.ab-con{
    justify-content: center;
}
.about-head{
    font-family: 'Nunito', sans-serif;
    font-size: 42px;
    color: #5f5b5b;
}
.about-p{
    text-align: center;
    font-size: 18px;
}
@media (max-width:576px) {
    .bg-cont-abt{
        background-image: url('https://res.cloudinary.com/dkvptcm7q/image/upload/v1733489145/pexels-moose-photos-170195-1037998_q4d7kf.jpg');
    }
    .abt-p{
        color: rgb(231, 117, 72);
        font-size: medium;
        font-weight: 400;
    }
}