.bg-cont{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cont-ab{
    display: flex;
    height: 100vh;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.about-head{
    font-family: 'Nunito', sans-serif;
    font-size: 42px;
    color: #5f5b5b;
}
.about-p{
    text-align: center;
    font-size: 18px;
}