.home-bg-cont{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    height: 80%;
    width: 100%;
    box-sizing: border-box;
}

#box{
    height: 350px;
    width: 350px;
    border: none;
    border-radius: 200px;
    overflow: hidden;
    background-image: url('https://res.cloudinary.com/dkvptcm7q/image/upload/v1733490831/pexels-neosiam-4498792_vlvst7.jpg');
    background-size: cover;
    padding: 10px;
    
}
#box .image{
    border: none;
    border-radius: 200px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    transition: all ease 1s;
    position: relative;
}

#box:hover .image{
    scale: 1.1;
}

.image::after, .image::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: red;
    padding: 10px;
}

.home-name-cont{
    width: 40%;
    color: #5f5b5b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.head-home{
    font-size: 35px;
    margin-bottom: 7px;
}
.name-head-home{
    font-size: 50px;
    font-weight: bold;
    margin-top: 0px;
}
.home-span{
    color: rgb(220, 97, 74);
}

.icon{
    border: 3px solid rgb(220, 97, 74);
    font-size: 35px;
    color: rgb(220, 97, 74);
    padding: 5px;
    border-radius: 40px;
    margin-right: 20px;
}
.desc{
    margin-top: 0px;
    margin-bottom: 20px;
    line-height:25px;
}
.name-head-home{
    margin-bottom: 8px;
}
.dow-icon{
    font-size: 20px;
    margin-left: 5px;
}
.down-btn{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(220, 97, 74);
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgb(220, 97, 74);
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
}
.btn-15 {
    background: rgb(220, 97, 74);
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color:  #5f5b5b;
    border-radius: 20px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }

  .download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

@media (max-width: 576px) {
    .home-bg-cont{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .name-head-home{
        font-size: 15px;
    }
    #box{
        order: 1;
        width: 60%;
        height: 190px;
        align-self: center;
        margin-top: 30px;
    }
    #box .image{
        width: 100%;
        height: 100%;
    }
    .home-name-cont{
        order: 2;
        width: 90%;
    }
    .name-head-home{
        font-size: 30px;
        margin-top: 10px;
        line-height: 35px;
    }
    .head-home{
        font-size: 20px;
    }
    .desc{
        font-size: 13px;
        line-height: 15px;
    }
    .icon{
        font-size: 25px;
    }
    .down-btn{
        font-size: 13px;
    }
    .dow-icon{
        font-size: 15px;
    }
}