.home-bg-cont{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    height: 80%;
    width: 100%;
    padding-right: 50px;
    box-sizing: border-box;
}
#box{
    height: 350px;
    width: 350px;
    border: none;
    border-radius: 200px;
    overflow: hidden;
}
#box img{
    border: none;
    border-radius: 200px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    transition: all ease 1s;
}

#box:hover img{
    scale: 1.1;
}
.home-name-cont{
    width: 40%;
    color: #5f5b5b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.head-home{
    font-size: 35px;
    margin-bottom: 7px;
}
.name-head-home{
    font-size: 50px;
    font-weight: bold;
    margin-top: 0px;
}
.home-span{
    color: rgb(220, 97, 74);
}

.icon{
    border: 3px solid rgb(220, 97, 74);
    font-size: 35px;
    color: rgb(220, 97, 74);
    padding: 5px;
    border-radius: 40px;
    margin-right: 20px;
}
.desc{
    margin-top: 0px;
    margin-bottom: 20px;
    line-height:25px;
}
.name-head-home{
    margin-bottom: 8px;
}
.dow-icon{
    font-size: 20px;
    margin-left: 5px;
}
.down-btn{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(220, 97, 74);
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgb(220, 97, 74);
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
}
.btn-15 {
    background: #5f5b5b;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(220, 97, 74);
    border-radius: 20px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }